.actions {
	text-align: right;
}

.actions button {
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

.filter {
	width: 100%;
}

.selected-row {
	background-color: #FCE4EC !important;
}

.mat-column-select {
	overflow: initial;
	min-width: 4em;
}

.mat-column-name {
	min-width: 10em;
	width: 100%;
}

.mat-column-productsCount {
	min-width: 4em;
}