<h2 mat-dialog-title>{{dialogData.action}} Category</h2>
<mat-dialog-content>
	<mat-form-field class="width-full">
		<input matInput placeholder="Category name" [formControl]="categoryName" required />
		<mat-error *ngIf="categoryName.invalid">{{getErrorMessage()}}</mat-error>
	</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-raised-button mat-dialog-close>Cancel</button>
	<button mat-raised-button color="primary"
	        [disabled]="categoryName.invalid"
	        (click)="performAction()">
		{{dialogData.action}}
	</button>
</mat-dialog-actions>